$f-tienne: "Tienne", "Times New Roman", serif
$f-lato: "Lato", "Helvetica Neue", Helvetica, sans-serif

$c-red: #cf4b4b
$c-red-l: lighten($c-red, 15%)
$c-red-d: darken($c-red, 15%)


$c-pos: #28C03B
$c-neg: #d60006

// Base font breakdown
// 1rem = 8px
$base-8: 50% 
// 1rem = 10px
$base-10: 62.5%
// 1rem = 12px
$base-12: 75%

// Mobile is default up until min
// Tablet is between min and med
// Desktop is med and above
$navbar-min: "screen and (min-width:42rem)"
$navbar-med: "screen and (min-width:60rem)"
$context-min: "screen and (min-width:42rem)"
$context-med: "screen and (min-width:60rem)"
