$f-source: "Source Sans Pro", sans-serif
$f-lato: "Lato", "Helvetica Neue", Helvetica, sans-serif
// Colours
$c-red: #cf4b4b
// Font breakdown
// 1rem = 8px
$base-8: 50% 
// 1rem = 10px
$base-10: 62.5%
// 1rem = 12px
$base-12: 75%
// Resposive
// Mobile is default up until min, tablet is between min and med and desktop is med and above
$sidebar-min: "screen and (min-width:35rem)"
$section-min: "screen and (min-width:35rem)"
