.modal
  display: none
  top: 50%
  width: 100%
  max-width: 60rem
  padding: 2rem
  +border-radius(0.5rem)
  +transform(translate(-50%, -50%))
  h1
    font-size: 2.8rem
    margin-bottom: 1rem
    @media #{$modal-min}
      font-size: 5.2rem
      margin-bottom: 0
  p
    padding-right: 5rem
    @media #{$modal-min}
      margin-bottom: 3rem
      padding-right: 0
  .input
    float: left
    clear: both
    width: 100%
    margin: 0 0 1.5rem 
  .input-textarea
    min-width: 100%
    max-width: 100%
  .input-submit
    float: right
    width: inherit
.modal-close
  position: absolute
  top: 0
  right: 0
  width: 4rem
  height: 4rem
  border: 0
  cursor: pointer
  opacity: 0.5
  background: none
  +transition(opacity 0.1s ease-in-out)
  &:hover
    opacity: 1
  svg
    fill: #020202
#lean_overlay
  position: fixed
  z-index: 100
  top: 0px
  left: 0px
  height: 100%
  width: 100%
  background: #fff
  display: none
