section
  height: 100vh
  position: relative
  z-index: 5
.section-hero
  background: $c-green
  color: #fff
  position: relative
  .inner
    z-index: 7
    opacity: 1
  h1
    font-size: 6.8rem
  .lead
    color: rgba(255, 255, 255, 0.9)
    margin: 2rem 0 4rem
    span
      color: #fff
  .btn:first-of-type
    margin: 0 2rem 0 0
  .cover
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.section-1
  background: #168AD1
  color: #fff
  p
    color: rgba(255, 255, 255, 0.9)

.section-2
  background: #8F36B7
  color: #fff
  p
    color: rgba(255, 255, 255, 0.9)

.section-3
  background: #BE2A31
  color: #fff
  p
    color: rgba(255, 255, 255, 0.9)

.section-cta
  height: 80vh
  .btn-p1
    color: #fff
    background: #000
    &:hover
      background: #777
  .btn-p2
    color: #000
    border-color: #000
    &:hover
      background: #000
      color: #fff
  .btn:first-of-type
    margin: 0 2rem 0 0
